{% extends "AdminBundle::layout.html.twig" %}
{% block title %}{{ entity.title }}{% endblock %}
{% block container -%}
    <h1>Edit {{ entity.title }}</h1>

    <form class="form-horizontal" action="{{ path('blog_admin_admin_update', { 'id': entity.id }) }}"
          method="post">
        <div class="form-group">
            <label class="col-lg-2 control-label" for="inputName">Title</label>

            <div class="col-lg-8">
                {{ form_widget(edit_form.title, {'attr': {'class': 'form-control form-control-trans','placeholder':'Title' }}
                ) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="inputName">Content</label>

            <div id="editor" class="col-lg-8">
                {{ form_widget(edit_form.body, {'attr': {'class': 'form-control form-control-trans','placeholder':'Content','rows':10 }}
                ) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="inputName"></label>

            <div class="col-lg-8">
                <input class="btn btn-default" type="submit" value="Update"/>
                {{ form_widget(edit_form._token) }}
            </div>
        </div>
    </form>

    <ul class="record_actions">
        {#<li>#}
        {#<a href="{{ path('author') }}">#}
        {#Back to the list#}
        {#</a>#}
        {#</li>#}
        {#<li>{{ form(delete_form) }}</li>#}
    </ul>
{% endblock %}
