{% extends "AdminBundle::layout.html.twig" %}

{% block container -%}
    <h1>{{ entity.title }}</h1>

    <div class="success text-justify">
        {{ entity.body }}
    </div>
    <br/><br/>
    <a class="btn btn-success" href="{{ path('blog_admin_admin_index') }}">Back</a>
    <br/>
    {#<ul class="record_actions">#}
    {#<li>#}
    {#<a href="{{ path('author') }}">#}
    {#Back to the list#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="{{ path('author_edit', { 'id': entity.id }) }}">#}
    {#Edit#}
    {#</a>#}
    {#</li>#}
    {#<li>{{ form(delete_form) }}</li>#}
    {#</ul>#}
{% endblock %}
