<div class="post-preview">
    <h2 class="post-title">
        {{ post.title }}
    </h2>

    <h3 class="post-subtitle">
        <p>{{ post.body | truncate(200) }}</p><a class="read-more"
                                                 href="{{ path('blog_core_post_show',{slug: post.slug}) }}">{{ 'read.more' | trans }} &raquo;</a>
    </h3>

    <p class="post-meta">Posted by <a
                href="{{ path('blog_core_author_show',{slug: post.author.slug}) }}">{{ post.author.name }}</a>
        on {{ post.createdAt | date('m-d-y') }} </p>

    <p>
        <a href="{{ path('blog_core_post_show',{slug: post.slug}) }}#comments"> {% set count = post.comments | length %} {{ count }}
            comments</a></p>
</div>
<hr>